* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Parkly;
  src:
    local("Parkly"),
    url("../fonts/Parkly-Regular.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Parkly Wide";
  src:
    local("Parkly Wide"),
    url("../fonts/Parkly-Wide.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "Parkly Condensed";
  src:
    local("Parkly Condensed"),
    url("../fonts/Parkly-Condensed.otf") format("opentype");
  font-display: block;
}

:root {
  /* fonts */
  --font-size--headline-1: clamp(41px, 8vw, 66px);
  --font-size--headline-2: clamp(27px, 6vw, 45px);
  --font-size--headline-3: clamp(18px, 4vw, 30px);
  --font-size--body: 18px;
  --font-size--body--large: 21px;
  --font-size--body--small: 15px;
  --font-family--headline: "Parkly", "Bahnschrift", "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-family--headline-wide: "Parkly Wide", "Bahnschrift", "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-family--headline-condensed: "Parkly Condensed", "Bahnschrift", "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-family--body: "Lora", "Charter", "Bitstream Charter", "Sitka Text", "Cambria", serif;

  /* colors */
  --color--foreground-1: rgb(0 0 0 / 70%);
  --color--foreground-2: rgb(0 0 0 / 80%);
  --color--background-1: #fff;
  --color--link: #1aa5c9;
  --color--link--hover: #10718b;

  /* spacing */
  --spacing--1: 8px;
  --spacing--2: 16px;
  --spacing--3: 32px;
  --spacing--4: 64px;

  @media (prefers-color-scheme: dark) {
    --color--foreground-1: rgb(255 255 255 / 60%);
    --color--foreground-2: rgb(255 255 255 / 80%);
    --color--background-1: #222;
  }

  @media print {
    --font-size--headline-1: 33px;
    --font-size--headline-2: 25px;
    --font-size--headline-3: 14px;
    --font-size--body: 16px;
    --font-size--body--large: 16px;
    --font-size--body--small: 12px;
    --color--foreground-1: #000;
    --color--foreground-2: #000;
    --color--background-1: #fff;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--background-1);
  font-family: Lora, Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-size: var(--font-size--body);
  line-height: 1.5;
  color: var(--color--foreground-1);
  margin-block: var(--spacing--4);

  @media print {
    margin-block: 0;
  }

  > * + * {
    margin-top: var(--spacing--2);
  }
}

a {
  --color: var(--color--link);

  color: var(--color);

  &:hover {
    --color: var(--color--link--hover);
  }
}

main {
  width: 600px;
  max-width: calc(100% - var(--spacing--3));

  @media print {
    width: auto;
  }
}

h2 {
  font-family: var(--font-family--headline);
  font-size: var(--font-size--headline-2);
  color: var(--color--foreground-2);

  @media (max-width: 640px) {
    text-align: center;
  }
}
