---
import { Content as BioContent } from '../content/resume/bio.md';
import { Content as ResumeContent } from '../content/resume/resume.md';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="assets/images/mark.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Who is James Finley</title>
		<link rel="stylesheet" href="assets/css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
		<noscript>
			<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" type="text/css"/>
		</noscript>
	</head>
	<body>
		<header>
			<h1><img src="assets/images/mark.svg" alt="I am Finley" /></h1>
			<h2>I am James Finley</h2>
			<BioContent />
		</header>
		<main class="b--resume">
			<ResumeContent />
		</main>
	</body>
</html>
