---
import { Content as BioContent } from '../content/bio.md';
import { Content as ResumeContent } from '../content/resume.md';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>
	<body>
		<header>
			<h2>Hey!</h2>
			<BioContent />
		</header>
		<main class="b--resume">
			<ResumeContent />
		</main>
	</body>
</html>
